*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background:linear-gradient(
        90,
        rgba(255, 196, 43, 1)
        rgba(232, 193, 175, 1)
        rgba(255, 23, 131, 1)
        rgba(217, 205, 232, 1)
        rgba(105, 167, 255, 1)
    );

   /* .80s-taco-chain-1-hex { color: #FFC42B; }
    .80s-taco-chain-2-hex { color: #E8C2AF; }
    .80s-taco-chain-3-hex { color: #FF1783; }
    .80s-taco-chain-4-hex { color: #D9CEE8; }
    .80s-taco-chain-5-hex { color: #69A7FF; })

    /*/* Color Theme Swatches in RGBA */
    /*.80s-taco-chain-1-rgba { color: rgba(255, 196, 43, 1); }
    .80s-taco-chain-2-rgba { color: rgba(232, 193, 175, 1); }
    .80s-taco-chain-3-rgba { color: rgba(255, 23, 131, 1); }
    .80s-taco-chain-4-rgba { color: rgba(217, 205, 232, 1); }
    .80s-taco-chain-5-rgba { color: rgba(105, 167, 255, 1); }

    /* Color Theme Swatches in HSLA */
    /*.80s-taco-chain-1-hsla { color: hsla(0, 100, 58, 1); }
    .80s-taco-chain-2-hsla { color: hsla(0, 55, 79, 1); }
    .80s-taco-chain-3-hsla { color: hsla(0, 100, 54, 1); }
    .80s-taco-chain-4-hsla { color: hsla(0, 36, 85, 1); }
    .80s-taco-chain-5-hsla { color: hsla(0, 100, 70, 1); }
    ;*/
}
main{
    margin-bottom: 20px;
    padding: 16px;

}
footer{
    padding: 24px 0px;
    position: bottom;
    background-color: rgb(167, 230, 232);
}
img{
    height: 200px;
    box-shadow: 0 2px 4px 2px rgba(105, 167, 255, 1);
}
nav{
    border-bottom: 1px black;
    padding: 16px;
    background-color: rgb(141, 202, 131);
}


:hover{
    color: rgb(246, 248, 246);



}
a, u {
    text-decoration: none;
}

.list{


}
tr:nth-child(2n){
    background-color: lightgray;
}

.taco{
    display: grid;
    grid-template-columns:4 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "item item item item";
    grid-gap: 30px;

}

h1 {
    color: rgb(170, 84, 30);
}

